# Python virtual environment
.venv/

# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# VS Code settings
.vscode/

# Environment variables
.env

# Django SQLite DB (if you're using the default DB)
db.sqlite3

# Logs and media
*.log
media/